:root{
    --color-bg: #09090B;
}



body {
    background-color: #ffffff;
}

h1{
    position: relative;
    font-size: 96px;
    font-family: "Red Hat Display";
    font-weight: 900;
    color: #ffffff;
    margin: 50px;

}
.subtitle{
    position: relative;
    font-size: 36px;
    font-family: "Ubuntu";
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 50px;
}

.card-title{
    position: relative;
    font-size: 36px;
    font-family: "Ubuntu";
    font-weight: 500;
    color: #ffffff;
    z-index: 3;
    margin: 30px;
}

.card-text{
    position: relative;
    font-size: 24px;
    font-family: "Ubuntu";
    font-weight: 200;
    color: #ffffff;
    z-index: 3;
    margin: 30px;
}

footer{
    position: relative;
    font-size: 36px;
    font-family: "Ubuntu";
    font-weight: 300;
    color: #ffffff;
    margin: 50px;
}

.page{
    overflow-y: auto;
    position: fixed;
    inset: 0;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(27, 27, 27) 1px, transparent 1px), radial-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 0px);
    background-size: 100% 28px, 4px 4px;
    color: rgb(34, 34, 34);
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-blue{
    position: relative;
    width: 600px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px -30px -8px #00b3ff;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    margin: 30px 3.125vw;
    text-decoration: none;
    text-align: center;
    justify-items: center;
}

.card-blue::before,
.card-blue::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.5s ease;
}

.card-blue::before {
    background-image: radial-gradient(250.2% 194.78% at 30% 21.67%, #18191a 25.74%, #00b3ff 100%);
    opacity: 1;
}

.card-blue::after {
    background-image: radial-gradient(250.2% 194.78% at 30% 21.67%, #18191a 0%, #00b3ff 100%);
    opacity: 0;
}

.card-blue:hover::after {
    opacity: 1;
}

.card-blue:hover {
    box-shadow: 0px 0px 50px 0px #00b3ff;
}

.card-green{
    position: relative;
    width: 600px;
    height: auto;
    border-radius: 20px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 50px -30px #00FF84;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
    margin: 30px 3.125vw;
    text-decoration: none;
    text-align: center;
}

.card-green::before,
.card-green::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.5s ease;
}

.card-green::before {
    background-image: radial-gradient(250.2% 194.78% at 30% 21.67%, #18191a 25.74%, #00FF84 100%);
    opacity: 1;
}

.card-green::after {
    background-image: radial-gradient(250.2% 194.78% at 30% 21.67%, #18191a 0%, #00FF84 100%);
    opacity: 0;
}

.card-green:hover::after {
    opacity: 1;
}

.card-green:hover {
    box-shadow: 0px 0px 50px 0px #00FF84;
}

@media screen and (max-width: 1296px){
    .cards{
        flex-direction: column;
    }
    .card-blue{
        width: 800px;
    }
    .card-green{
        width: 800px;
    }
    footer{
        margin: 20px;
    }
    .cards{
        margin: 0px;
    }
    .subtitle{
        margin: 10px
    }
    h1{
        margin: 40px
    }
    
}
@media screen and (max-width: 992px){
    .subtitle{
        font-size: 20px;
    }
    footer{
        font-size: 20px
    }
    h1{
        font-size: 72px;
    }
    .card-blue{
        width: 600px;
    }
    .card-green{
        width: 600px;
    }
}

@media screen and (max-width: 600px){
    .card-blue{
        width: 400px;
    }
    .card-green{
        width: 400px;
    }
    .subtitle{
        display: none;
    }
    footer{
        display: none;
    }
    .card-text{
        font-size: 18px;
    }
}

@media screen and (max-width: 450px){
    .card-blue{
        width: 300px;
    }
    .card-green{
        width: 300px;
    }
    h1{
        font-size: 48px;
    }
    footer{
        display:none
    }
    .card-text{
        display: none;
    }
}
