body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: #fdfcf7;
    background-image:
        linear-gradient(#e5e5e5 1px, transparent 1px),
        radial-gradient(rgba(0,0,0,0.03) 1px, transparent 0);
    background-size: 100% 28px, 4px 4px;
    color: #222;
}

.page {
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 30px 60px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.meta {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

/* ====== СТАТИСТИКА ====== */
.stats {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #e3ffdd;
    border: 2px solid #333;
    padding: 12px 14px;
    border-radius: 12px;
    box-shadow: 2px 2px 0 #000;
    font-size: 21px;
    text-align: center;
}

.stats div {
    margin-bottom: 6px;
}

/* ====== ЗАДАЧА ====== */
.task-card {
    background: #ddfaff;
    border: 2px solid #333;
    border-radius: 18px;
    box-shadow: 4px 4px 0 #000;
    padding: 40px 40px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.task {
    font-size: 50px;
    margin-bottom: 30px;
    border: 2px solid #333;
    border-radius: 18px;
    background-color: #ecfcff;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px;
}

/* ====== ВВОД ОТВЕТА ====== */
.answer-block {
    margin-top: 20px;
}

input[type="text"] {
    font-family: 'Patrick Hand', cursive;
    font-size: 22px;
    padding: 6px 10px;
    width: 200px;
    border: 2px solid #333;
    border-radius: 8px;
    outline: none;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

a {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    padding: 6px 14px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #000;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    text-decoration: none;
    color: #000;
    position: fixed;
    left: 20px;
    top: 20px;
}

button {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    padding: 6px 14px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #000;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 0 #000;
}

button:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 0 #000;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    min-height: 28px;
}

.correct {
    color: #1f7a1f;
}

.wrong {
    color: #b30000;
}

button:disabled {
    opacity: 1;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.stats-grid {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

