body {
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
    background-color: #fdfcf7;
    background-image:
        linear-gradient(#e5e5e5 1px, transparent 1px),
        radial-gradient(rgba(0,0,0,0.03) 1px, transparent 0);
    background-size: 100% 28px, 4px 4px;
    color: #222;
}
/* Контейнер всей карточки */
.summary-card {
    background: #ddfaff;
    border: 2px solid #333;
    border-radius: 18px;
    box-shadow: 4px 4px 0 #000;
    padding: 40px 30px;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Информация о типе и сложности */
.meta {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

/* Сетка статистики */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки для мелких статов */
    grid-template-rows: auto auto;
    gap: 15px;
    text-align: center;
}

/* Большая плашка с Точностью */
.stat.big {
    grid-column: 1 / -1; /* Растягиваем на всю ширину */ /* Эффект выделения маркером */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid #333;
    border-radius: 18px;
}

.stat.big .label {
    font-size: 1.5rem;
    display: block;
}

.stat.big .value {
    font-size: 3rem;
    font-weight: bold;
    color: #000f55; /* Красный цвет для оценки */
}

/* Обычные блоки статистики */
.stat .label {
    display: block;
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 5px;
}

.stat .value {
    font-size: 3rem;
    font-weight: bold;
    color: #000f55;
}

/* Кнопки (чтобы стояли ровно в ряд) */
.actions {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.page {
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px 30px 60px;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.stat {
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #ecfcff;
    padding: 10px;
}

h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

p    {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

a {
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    padding: 6px 14px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 0 #000;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    text-decoration: none;
    color: #000;
}

footer {
    text-align: center;
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}